extends layout

block content
    h1=title

    form(method="POST" action="")
        div.form-group
            label(for="title") Title:
            input#title.form-control(type="text" name="title" placeholder="Bisag unsa ah" required="true" value=(values ? values.title : ''))
        div.form-group
            textarea#postBody.form-control(type="text" name="postBody" placeholder="Post goes here....") #{values.postBody}
        button.btn.btn-primary(type="submit")=(values ? "Edit" : "Post")

    if errors
        ul
            for err in errors
                li=err.msg
