extends layout

block content
    h1=title
    form(method="POST" action="/login")
        div.form-group
            label(for="username") Username:
            input#username.form-control(type="text" name="username" placeholder="johndoe" required="true")
        div.form-group
            label(for="password") Password:
            input#password.form-control(type="password" name="password" required="true")
        small#adminToggle Admin?
        div.form-group.adminField(hidden="true")
            label(for="adminCode") Enter admin code:
            input#adminCode.form-control(type="text" name="adminCode")
        button.btn.btn-primary(type="submit") Login
        small 
            a.text-secondary(href="/signup") or Signup
